<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %}{{ page.title }} | {% endif %}Dott.ssa Mara Micolucci - Dietista</title>
<meta name="description" content="{{ page.description | default: site.description | default: 'Dietista, Farmacista' }}">
<link rel="icon" href="/favicon.ico">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;600;700&family=Inter:wght@400;500;600&family=Instrument+Serif:ital@0;1&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/main.css">
<link rel="stylesheet" href="/assets/css/booking.css">
{% assign ga_id = site.google_analytics | default: site.ga4_id | default: site.ga_id %}
{% if ga_id %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_id }}"></script>
<script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)};gtag('js',new Date());gtag('config','{{ ga_id }}',{anonymize_ip:true});</script>
{% endif %}
{% if site.meta_pixel_id %}
<script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init','{{ site.meta_pixel_id }}');fbq('track','PageView');</script>
{% endif %}
