html, body {
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
}

html {
  background: url(../images/mara.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#container {
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 70%;
  position: absolute;
  width: 580px;
}

#inner-container {
  padding: 20px;
  background: rgba(255, 255, 255, .7);
}

.picture {
  width: 202px;
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
  font-family: Georgia, serif;
  font-weight: 400;
  color: rgb(102, 102, 102);
}

h1 {
  font-size: 41px;
  line-height: 57px;
}

h2 {
  font-size: 100%;
}

a.cta {
  text-decoration: none;
  display: block;
  background-color: rgb(76, 56, 79);
  color: #fff;
  width: 300px;
  border-radius: 8px;
  margin: 40px auto;
}

.cta p {
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
  font-size: 130%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.cta img {
  border-radius: 8px;
}

@media (max-width: 1200px) {
  #container {
    transform: translateY(-50%);
    left: auto;
    right: 100px;
  }
}

@media (max-width: 800px) {
  #container {
    right: auto;
    width: 100%;
  }

  #inner-container {
    margin: auto 20px;
  }

  a.cta {
    width: 60%;
  }
}
