.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site_content {
  flex: 1;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  margin: 0;
}

a {
  color: #0096c7;
}

a:visited {
  color: #0077b6;
}

.page {
  width: 960px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .page {
    width: 600px;
  }
}

@media (max-width: 620px) {
  .page {
    width: auto;
    padding: 0 10px;
  }
}

#header_container {
  background-color: #05386b;
}

#header,
#footer {
  display: flex;
  align-items: center;
}

#header {
  height: 54px;
}

#header_menu,
#footer_menu {
  margin: 0 0 0 auto;
}

#footer_menu li {
  display: inline-block;
  margin-left: 10px;
}

#header_menu {
  height: 100%;
  padding: 0;
}

#header_menu li {
  margin: 0;
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

#header_menu li.highlight {
  background-color: #5cdb95;
}

#header_menu li.highlight a,
#header_menu li.highlight a:visited {
  color: #05386b;
}

#header a,
#header a:visited {
  color: #fff;
  text-decoration: none;
}

#header_logo {
  font-size: 140%;
  margin: 0;
}
